<section class="section-biograph">
  <div class="container-content">
    <div class="container-img">
      <img class='img-biograph' src="../../../assets/img/profile_pic.jpeg" alt="profile"/>
    </div>
    <div class="content-biograph">
      <h1>Gato Julgador</h1>
      <p>
        Gosta de culinaria refinada e restaurantes chiques,
        costuma julgar as atitudes e ser sincerão demais com as pessoas.
        Poderia ter completado o texto com Lorem Ipsum mas obrigado por ler até aqui :D.
      </p>
    </div>
  </div>
</section>
